h2 速度设置
center
  .row
    span
      strong 巡逻速度:
    input#roundSpeed[type="text" data-slider-min="10" data-slider-max="100" data-slider-step="5" data-slider-value="50"]
  .row
    span
      strong 攻击速度:
    input#attackSpeed[type="text" data-slider-min="10" data-slider-max="100" data-slider-step="5" data-slider-value="80"]
  .row
    span
      strong 逃跑速度:
    input#escapeSpeed[type="text" data-slider-min="10" data-slider-max="100" data-slider-step="5" data-slider-value="60"]
  .row
    span
      strong 转弯速度:
    input#turnSpeed[type="text" data-slider-min="10" data-slider-max="100" data-slider-step="5" data-slider-value="40"]
center
  .btn.btn-primary.btn-lg#save 保存
h2 方向控制
center
  div class="arrow-key-container"
    div class="arrow-key up" data-key="38"
    br
    div class="arrow-key left" data-key="37"
    div class="arrow-key down" data-key="40"
    div class="arrow-key right" data-key="39"
h2 配置启用
center
  - if @flag === 0
    .btn.btn-primary.btn-lg#attach 启用手动调试
  - else
    .btn.btn-danger.btn-lg#attach 停用手动调试
javascript:
  $("input").slider({ tooltip: 'always'});

  $("#roundSpeed").on("slide", function(slideEvt) {
  console.log("roundSpeed: " + slideEvt.value); });

  $("#attackSpeed").on("slide", function(slideEvt) {
  console.log("attackSpeed: " + slideEvt.value); });

  $("#escapeSpeed").on("slide", function(slideEvt) {
  console.log("escapeSpeed: " + slideEvt.value);});

  $("#turnSpeed").on("slide", function(slideEvt) {
  console.log("turnSpeed: " + slideEvt.value); });

  $("#save").on("click", function(){
  console.log("onclicked")
    });

  $("#attach").on("click", function() {
  var that = this
  $.post("/control" , function(res) {
  if(res.pid === 1) {
    $(that).text("启用手动调试")
    $(that).removeClass("btn-danger")
    $(that).addClass("btn-primary")
  } else {
    $(that).text("停用手动调试")
    $(that).removeClass("btn-primary")
    $(that).addClass("btn-danger")
    }
    })
  });

  window.addEventListener('keyup', arrowUp)
  window.addEventListener('keydown', arrowDown)
  var keys = {};
  function arrowDown(e) {
    keys[e.which] = true;
    const key = document.querySelector(`.arrow-key[data-key="${e.keyCode}"]`);
    $.post("http://raspberrypi:3000/keys" , JSON.stringify({command: keys}))
    key.classList.add('press')
  }
  function arrowUp(e) {
    const key = document.querySelector(`.arrow-key[data-key="${e.keyCode}"]`);
    delete keys[e.which];
    $.post("http://raspberrypi:3000/keys" , JSON.stringify({command: keys}))
    key.classList.remove('press')
  }
